<div  class="row" [ngClass]="{'win-color':match.win, 'lose-color':!match.win}" routerLink="/match/{{match.gameId}}">
    <div class="col center">
        <div><img src="{{returnChampionUrl()}}"></div>
        <div>{{this.match.championName}}</div>
     </div>
     <div class="col">
         <div >Kills: {{kills}}</div>
         <div >Deaths: {{deaths}}</div>
         <div >Assists: {{assists}}</div>
         <div >kd: {{kd | number}}</div>
     </div>
     <div class="col">
         <div>Role: {{match.role}}</div>
         <div>Mode: {{match.gameMode}}</div>
         <div>Game Duration: {{match.gameDuration*1000 | date: 'mm:ss'}}</div>
     </div>
     <div class="col"> 
         <div>Match start at: {{match.timestamp | date}}</div>
         <div>Lane: {{match.lane}}</div>
     </div>
     <div class="col">
        <div ><img *ngFor="let item of items" src="{{returnItemName(item)}}" class="item" alt=""></div>
    </div>
 </div>
 