<div class="row" [ngClass]="{'win-color':winOrLose(), 'lose-color':!winOrLose()}" (click)="redirectToUser()">
    <div class="col center">
        <img class="profileIcon" src="{{displayPlayerIcon()}}" alt="profile-icon" id="profile-icon">
        <div>{{singleParticipant.participantIdentities.player.summonerName}}</div>
    </div>
    <div class="col">
        <div>Kills: {{singleParticipant.participant.stats.kills}}</div>
        <div>Deaths: {{singleParticipant.participant.stats.deaths}}</div>
        <div>Assists: {{singleParticipant.participant.stats.assists}}</div>
        <div>kd: {{kdaNumber() | number:'1.0-2'}}</div>
    </div>
    <div class="col">
        <div>Role:</div>
        <div>Mode:</div>
        <div>Game Duration:</div>
    </div>
    <div class="col">
        <div>Match start at:</div>
        <div>Lane:</div>
    </div>
    <div class="col">
        <div><img *ngFor="let item of items" src="{{returnItemName(item)}}" class="item" alt=""></div>
    </div>
</div>