<div>
    <table class="table table-color">
        <tbody *ngIf="currentSummoner">
            <tr>
                <td>Account Id</td>
                <td>{{currentSummoner.accountId}}</td>
            </tr>
            <tr>
                <td>Profile Icon</td>
                <td><img src="{{displayPlayerIcon()}}" alt="profile-icon" id="profile-icon">
                </td>
            </tr>
            <tr>
                <td>Revision Date</td>
                <td>{{currentSummoner.revisionDate | date}}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{currentSummoner.name}}</td>
            </tr>
            <tr>
                <td>Id</td>
                <td>{{currentSummoner.id}}</td>
            </tr>
            <tr>
                <td>Puuid</td>
                <td>{{currentSummoner.puuid}}</td>
            </tr>
            <tr>
                <td>Summoner Level</td>
                <td>{{currentSummoner.summonerLevel}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="inputUsername && server && currentSummoner">
</div>